
body{
    background-color: #dde8f0;
}

a{
    text-decoration: none;
    color: #001b48;
}

.menu{
    float: left;
    width: 150px;
    position: absolute;
    background-color: #018abd;
    left: 0;
    height: 100%;
}

.header-list{
    float: left;
    min-width: 70%;
    max-height: 100%;
    position: relative;
    left: 15%;
}

.list{
    float: left;
    min-width: 70%;
    height: 90%;
    max-height: 100%;
    position: relative;
    left: 15%;
    overflow: auto;
}

.center{
    position: fixed;
    top: 40%;
    left: 40%;
    background-color: #018abd;
    padding: 0 10px 30px 10px;
    border-radius: 2px;
    height: 23%;
    width: 18%;
}

.panel{
    top: 0;
    left: 0;
    width: 100%;
    height: 22px;
    position: absolute;
    background-color: #018abd;
}

.elements {
    background-color: #97cbdc;
    margin-top: 5px;
    padding: 4px 4px 4px 4px;
    overflow: hidden;
    border: 1px solid #018abd;
}

.header-list .elements {
    background-color: #018ABD;
    margin-top: 5px;
    padding: 4px 4px 4px 4px;
    overflow: hidden;
}

.fill{
    background-color: #97cbdc;
    padding: 4px 4px 4px 4px;
    float: left;
    position: relative;
    left: 15%;
    width: 30%;
    border: 2px solid #018ABD;
}

.info{
    background-color: #97cbdc;
    padding: 4px 4px 4px 4px;
    float: left;
    position: relative;
    left: 15%;
    height: 50%;
    width: 30%;
    word-wrap: break-word;
    border: 2px solid #018ABD;
}
.error{
    color: red;
    margin-left: 5px;
}

.id{
    float: left;
    width: 4%;
    display: inline-block;
}

.point{
    float: left;
    width: 15%;
    display: inline-block;
    font-size: 10pt;
    word-wrap: break-word;
}

.date{
    float: left;
    width: 10%;
    word-wrap: break-word;
    font-size: 10pt;
}

.weight{
    float: left;
    width: 8%;
    word-wrap: break-word;
    font-size: 10pt;
}

.name{
    float: left;
    width: 10%;
    word-wrap: break-word;
    font-size: 10pt;
}

.state{
    float: left;
    width: 8%;
    display: inline-block;
    font-size: 10pt;
}

.status{
    float: left;
    width: 10%;
    display: inline-block;
    font-size: 10pt;
}

.count-place{
    float: left;
    width: 9%;
    display: inline-block;
    font-size: 10pt;
}

.type{
    float: left;
    width: 9%;
    display: inline-block;
    font-size: 10pt;
}

.weight-capacity{
    float: left;
    width: 14%;
    display: inline-block;
    font-size: 10pt;
}

.menu-button{
    background-color: #9dd3e4;
    margin-top: 2px;
    margin-bottom: 2px;
    font: 12pt sans-serif;
}

.menu-link{
    margin-left: 7px;
    font-size: 10pt;
}

.menu-link:hover{
    opacity: 0.8;
}

.add-button{
    float: right;
    margin-top: 1px;
    margin-right: 5px;
    height: 15px;
    width: 15px;
}

.add-button:hover{
    opacity: 0.7;
}

.link-button-list{
    margin-left: 15px;
    display: inline-block;
}

.engine{
    float: left;
    width: 8%;
    display: inline-block;
    font-size: 10pt;
}

.gear{
    float: left;
    width: 10%;
    display: inline-block;
    font-size: 10pt;
}

.success-fail{
    background-color: #FFBABA;
    border-radius: 2px;
    border: 1px solid #D8000C;
    padding: 1px 10px 1px 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    text-align: center;
}

.success-true{
    background-color: chartreuse;
    border-radius: 2px;
    border: 1px solid #58bc40;
    padding: 5px 10px 5px 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    text-align: center;
}

.description{
    background-color: #97cbdc;
    border-radius: 2px;
    border: 1px solid #018ABD;
    padding: 5px 10px 5px 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}

#hard-password{
    padding: 2px 5px 2px 5px;
    border-radius: 2px;
    font-size: 10pt;
    width: 50%;
}

.edit-bar{
    float: left;
    width: 10%;
    display: inline-block;
    font-size: 10pt;
}

.info-bar {
    float: left;
    width: 8%;
    display: inline-block;
    font-size: 10pt;
}

.delete-bar{
    float: left;
    width: 8%;
    display: inline-block;
    font-size: 10pt;
}

.check-bar{
    float: left;
    width: 5%;
    display: inline-block;
    font-size: 10pt;
}