<%@ page language="java" contentType="text/html; charset=utf-8" pageEncoding="utf-8" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<%@ taglib prefix="own" uri="http://owntag.pivovarenko.nure.ua" %>

<c:choose>
<c:when test="${not empty sessionScope.flights}">
        <c:forEach items="${sessionScope.flights}" var="flight">
            <div class="elements">
                <div class="id"><c:out value="${flight.id}"/></div>
                <div class="point"><c:out value="${flight.from}"/></div>
                <div class="point"><c:out value="${flight.to}"/></div>
                <div class="date"><c:out value="${flight.dateCreate}"/></div>
                <div class="status"><fmt:message key="flight.status.${fn:toLowerCase(flight.flightStatus)}"/></div>

                <div class="info-bar"><a
                        href="${pageContext.request.contextPath}/Flight?id=${flight.id}&command=infoFlight"><fmt:message
                        key="action.info"/></a></div>
                <c:choose>
                    <c:when test="${sessionScope.user.idRole eq 2}">
                        <div class="edit-bar">
                            <div class="link-button-list"><a
                                    href="${pageContext.request.contextPath}/jsp/pages/statement/add_statement_page.jsp?idFlight=${flight.id}"><fmt:message
                                    key="action.send"/></a></div>
                        </div>
                    </c:when>
                    <c:otherwise>
                        <c:url var="removeUrl" value="/Flight?id=${flight.id}&command=deleteFlight"/>
                        <c:url var="editUrl"
                               value="/jsp/pages/flight/edit_flight_page.jsp?id=${flight.id}&from=${flight.from}&to=${flight.to}&status=${flight.flightStatus}&description=${flight.description}"/>
                        <div class="edit-bar">
                            <div class="link-button-list"><a href="${editUrl}"><fmt:message key="action.edit"/></a>
                            </div>
                        </div>
                        <div class="delete-bar">
                            <form method="post" action="${pageContext.request.contextPath}/Flight">
                                <input type="hidden" value="${flight.id}" name="id"/>

                                <div class="link-button-list"><a href="${removeUrl}"
                                                                 onclick="return confirm('<fmt:message
                                                                         key="message.sure.delete.flight"/>'); form.submit()"><fmt:message
                                        key="action.delete"/></a></div>
                            </form>
                        </div>
                        <div class="check-bar">
                            <div class="link-button-list"><input type="checkbox" class="deleteBox" name="checkedFlight"
                                                                 value="${flight.id}"/></div>
                        </div>
                    </c:otherwise>
                </c:choose>
            </div>
        </c:forEach>
    </c:when>
    <c:otherwise>
        <div class="elements">
            <fmt:message key="flight.message.empty.flight"/>
        </div>
    </c:otherwise>
</c:choose>